# --- Python ---
*.egg-info
__pycache__
*.pyc

# --- build / distribution ---
dist/


# --- Virtual environments ---
.venv

# --- Test files ---
file1.json
file2.json
file1.yaml
file2.yaml

# --- Asciinema recordings ---
*.cast

# --- Coverage and QA ---
.coverage
coverage.xml
*_cache/


poetry.toml